.elementor-2854 .elementor-element.elementor-element-55212198:not(.elementor-motion-effects-element-type-background), .elementor-2854 .elementor-element.elementor-element-55212198 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2854 .elementor-element.elementor-element-55212198{border-style:solid;border-width:0px 0px 1px 0px;border-color:#141D3826;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2854 .elementor-element.elementor-element-55212198 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2854 .elementor-element.elementor-element-524c330e .the-logo img{width:145px;}.elementor-2854 .elementor-element.elementor-element-524c330e > .elementor-widget-container{padding:13px 0px 13px 0px;}.elementor-2854 .elementor-element.elementor-element-2df0dc0f.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-2854 .elementor-element.elementor-element-6b4d4c31 .toggle-search i{color:#1B1D21;}.elementor-2854 .elementor-element.elementor-element-6b4d4c31 > .elementor-widget-container{margin:0px 0px 0px 25px;}.elementor-2854 .elementor-element.elementor-element-38196644 > .elementor-widget-container{margin:0px 0px 0px 25px;}
/*
     FILE ARCHIVED ON 03:47:51 Nov 30, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:38:43 Dec 27, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.536
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.014
  esindex: 0.011
  cdx.remote: 44.065
  LoadShardBlock: 327.427 (3)
  PetaboxLoader3.datanode: 261.443 (4)
  PetaboxLoader3.resolve: 332.886 (3)
  load_resource: 300.389
*/